<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/bootstrap/css/bootstrap.css">
    <title>about</title>

    <style>
        main{
            max-width: 80%;
            margin: 0 auto;
            padding: 2rem 0;
        }
        h2{
            text-align: center;
            color: #359eff;
            font-size: calc(1.475rem + 2.7vw);
            font-weight: 800;
            margin-bottom: 2rem;
        }
    </style>
</head>
<body>
    <main>
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt incidunt necessitatibus accusamus eligendi hic placeat natus praesentium, dolorum culpa iure, iste impedit vero, ratione atque vitae omnis blanditiis possimus. Reprehenderit, eum beatae excepturi fuga, ipsa quos ullam consectetur sequi unde eaque quod molestias similique maxime mollitia inventore! Voluptatibus similique accusantium quibusdam, quis architecto eveniet, voluptate excepturi enim asperiores est molestias nemo voluptas adipisci minima dolore! Facere blanditiis vitae odio iure impedit corrupti voluptates commodi laborum consequatur. Repellendus sequi eos fugit nobis vero maiores labore, laborum alias quaerat. Sint illo dicta veritatis eligendi voluptate quas inventore, corporis voluptas officia quisquam distinctio commodi nulla explicabo. Voluptatibus sequi facere libero suscipit ipsum ea molestias quasi quos dolorem sunt nesciunt, accusamus laudantium tempora ullam dolor minima sit totam repudiandae a optio veritatis fugit quibusdam labore tenetur! Facere ut iusto praesentium, porro nihil nulla repudiandae adipisci ex eveniet minima quisquam non natus inventore impedit. Quia enim maxime ipsam quibusdam. Nisi sint, nostrum repellendus, blanditiis qui dolore eum nam velit aliquid fugit tempora iusto quae error maxime. Molestias, saepe adipisci. Consectetur voluptatum odit suscipit nam quasi recusandae, quod vitae esse molestias cum sint, enim minima velit aut sapiente fugit consequatur at libero error iusto blanditiis veritatis. Molestias iusto quibusdam sed laborum recusandae facere, et ipsa maiores eius facilis fugit, neque voluptas, veniam sit nisi aperiam error provident a atque earum eaque esse quod. Nam et, eveniet deleniti cum repudiandae iste hic, enim distinctio id, quis voluptatibus quisquam voluptatem ut molestias tempore voluptatum odit libero cumque necessitatibus. Dicta reprehenderit, quidem ut distinctio alias, natus, magnam deleniti sequi delectus neque accusamus ea velit quia? Necessitatibus totam nisi delectus excepturi, illo porro provident, dolore vero libero, quibusdam placeat officiis alias ut consectetur temporibus molestias tenetur maiores animi modi quos aspernatur dolor illum. Molestiae sit a quam aspernatur dolore ab obcaecati eaque dolores, deserunt debitis harum ullam illum voluptates eius in, corrupti unde maxime nisi voluptatem vel! Minima cupiditate expedita id unde dolorem mollitia reiciendis sunt corrupti quos! Aperiam, quis. Et quis rem laboriosam beatae repellendus provident. Labore, eum ex. Quibusdam dicta suscipit ipsam? Assumenda necessitatibus deserunt quibusdam facilis quas totam accusamus sunt, cumque, perspiciatis sit reiciendis, temporibus omnis. Suscipit distinctio magni quos nihil, repellat delectus dolor numquam officia doloribus non necessitatibus aperiam pariatur inventore fugit ipsum unde vitae reiciendis consequatur velit. Repudiandae voluptates fugiat sit reprehenderit placeat molestias fuga, ipsam velit, laboriosam minus debitis autem neque dicta. At quisquam eaque nesciunt quod commodi natus itaque mollitia, placeat maiores vero esse, quibusdam explicabo eos aliquid, voluptatem reprehenderit quam corrupti repellendus aperiam odio voluptatibus enim quis. Minima alias distinctio et placeat repellat repellendus corporis quaerat veniam exercitationem magni, iusto nisi culpa voluptate. Perferendis, recusandae! Aliquid rem pariatur nemo non ad, mollitia vero repudiandae dolores perferendis praesentium aliquam laudantium tempore quas itaque unde possimus aut, provident aperiam. Delectus ipsam modi accusamus dolore distinctio omnis quia officia asperiores rerum nobis voluptate aliquam voluptatem voluptatibus eveniet, corrupti totam exercitationem tenetur aut enim aspernatur provident accusantium ad? Maiores laboriosam a excepturi sequi quisquam, ut quos.</p>
    </main>
</body>
</html>