<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="./assets/dist/css/glightbox.min.css" />
    <link rel="stylesheet" href="./assets/bootstrap/css/bootstrap.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rokkitt:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="./style.css">

</head>
<body>
    <!-- Home page -->
    <!-- Home page -->
    <!-- Home page -->
    <main>
        <div class="nav-section">
            <div class="logo">GenerationZ</div>
            <nav>
                <a href="/about">About</a>
                <a href="/shop">Gallery</a>
                <a href="/faq">FAQ</a>
            </nav>
        </div>
        
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="lead">
                        <h1 class="name" style="font-family: 'Lobster', cursive;">GenerationZ</h1>
                        <p class="tagname">welcome to my fashion <strong>"collection"</strong> <br> where you'll find nothing but the BEST.</p>
                        <div class="bottons">
                            <div class="btns-holder btn-hover" style="background-color: #000;">
                                <a href="/shop" style="color: white; text-decoration: none;">
                                    explore
                                    <span></span><span></span><span></span><span></span>
                                </a>
                            </div>
                            <div class="btns-holder">
                                <a href="#contact" style="color: #000; text-decoration: none;">
                                    contact us
                                    <span></span><span></span><span></span><span></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>



    <!-- Gallery Section-->
    <!-- Gallery Section-->
    <!-- Gallery Section-->
    <section id="gallery">
        <h2>GALLERY</h2>

        <div id="nav"> 
            
        </div>
        <section id="gallery-display">
            <div class="heading">
              <h3 id="title-el">All Collection</h3>
              <div class="line"></div>
            </div>

            <div id="display-el" class="product">
                
          
            </div>
        </section>



        <!--CSS Spinner Pre-loader-->
        <!--CSS Spinner Pre-loader-->
        <!--CSS Spinner Pre-loader-->
        <div class="spinner-wrapper" id="pre-loader">
            <div class="spinner"></div>
        </div>
    </section>



    <!-- Contact Section -->
    <!-- Contact Section -->
    <!-- Contact Section -->
    <section id="contact" class="contact-section">
        <div class="container">
          
          <!-- cta's row -->
          <div class="row text-white">
            <div class="col-12 col-lg-6 gradient shadow p-3">
              <div class="cta-info w-100">
                <div class="row text-center">
                  <h2>Contact Us</h2>
                </div>
                <h4 class="display-4 fw-bold">100% Satisfaction Guaranteed</h4>
                <p class="lh-lg">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis modi, velit sunt consequatur, quam esse id pariatur distinctio delectus impedit numquam.</p>
                <h3 class="display-3--brift">What's the next step?</h3>
                <ul class="cta-info__list">
                  <li>Virtualize Your Idea</li>
                  <li>Planning and Model Design</li>
                  <li>License acquisition</li>
                  <li>Implimentation</li>
                </ul>
      
              </div>
            </div>
            <div class="col-12 col-lg-6 bg-white shadow p-3">
              <div class="form w-100 pb-2">
                <h4 class="display-3--title mb-5" style="color: #102b44;">Send a mail</h4>
                <form action="#" class="row">
                  
                  <div class="col-lg-6 col-md-6 mb-3">
                    <input type="text" placeholder="First Name" id="inputFirstName" class="shadow form-control form-control-lg">
                  </div>
                  <div class="col-lg-6 col-md-6 mb-3">
                    <input type="text" placeholder="Last Name" id="inputlastName" class="shadow form-control form-control-lg">
                  </div>
      
                  <div class="col-lg-12 mb-3">
                    <input type="email" placeholder="email address" id="inputEmail" class="shadow form-control form-control-lg">
                  </div>
                  <div class="col-lg-12 mb-3">
                    <textarea name="message" id="message" placeholder="message"  rows="8" class="shadow form-control form-control-lg"></textarea>
                  </div>
                  <div class="text-center d-grid mt-1">
                    <button type="button" class="btn-primary pt-3 pb-3 responsive-btn">
                      submit
                      <i class="fas fa-paper-plane"></i>
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
    
      <!-- Footer Section -->
      <!-- Footer Section -->
      <!-- Footer Section -->
      <footer class="footer"> 
        <div class="container-fluid contact-info">
          <div class="row">
            <!-- content for moblie -->
            <div class="col-md-4 col-lg-4 contact-box pt-1 pt-1 d-md-block d-lg-flex d-flex justify-content-center">
              <div class="contact-box__icon">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-phone-call" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#00abfb" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                  <path d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2" />
                  <path d="M15 7a2 2 0 0 1 2 2" />
                  <path d="M15 3a6 6 0 0 1 6 6" />
                </svg>
              </div>
              <div class="contact-box__info">
                <a class="contact box__info--title" onclick="copyToText('my-number')">+234 8036414118</a>
                <!-- copy to clipboard -->
                <input type="text" value="08036414118" id="my-number" style="display: none;">
                <p class="contact-box__info--subtitle">Troll not free</p>
              </div>
            </div>
            <!-- content for email -->
            <div class="col-md-4 col-lg-4 contact-box pt-1 pt-1 d-md-block d-lg-flex d-flex justify-content-center">
              <div class="contact-box__icon">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-mail" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#00abfb" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                  <rect x="3" y="5" width="18" height="14" rx="2" />
                  <polyline points="3 7 12 13 21 7" />
                </svg>
              </div>
              <div class="contact-box__info">
                <a class="contact box__info--title" onclick="copyToText('my-email')">info.idoko@gmail.com</a>
                <!-- copy to clipboard -->
                <input type="text" value="info-idoko@gmail.com" id="my-email" style="display: none;">
                <p class="contact-box__info--subtitle">Online support</p>
              </div>
            </div>
            <!-- content for location -->
            <div class="col-md-4 col-lg-4 contact-box pt-1 pt-1 d-md-block d-lg-flex d-flex justify-content-center">
              <div class="contact-box__icon">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-map-pin" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#00abfb" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                  <circle cx="12" cy="11" r="3" />
                  <path d="M17.657 16.657l-4.243 4.243a2 2 0 0 1 -2.827 0l-4.244 -4.243a8 8 0 1 1 11.314 0z" />
                </svg>
              </div>
              <div class="contact-box__info">
                <a href="https://www.google.com/maps/@9.0734592,7.4678272,12z" target="blank" class="contact box__info--title">Abuja, Nigeria</a>
                <p class="contact-box__info--subtitle">AB 1100303, NG</p>
              </div>
            </div>
          </div>
        </div>
      <!-- Social section of footer -->
      <div class="footer-sm" style="background-color: #212121;">
      
        <div class="container connect">
          <row class="row py-4 text-center text-white mb-0 pb-0">
            <div class="col-lg-5 col-md-6 mb-4 mb-0 pb-0">
                <h6 class="">Connect with us</h6>
            </div>
            <div class="col-lg-7 col-lg-6 ">
              <a href=""><i class="fab fa-facebook"></i></a>
              <a href=""><i class="fab fa-twitter"></i></a>
              <a href=""><i class="fab fa-instagram"></i></a>
            </div>
          </row>
        </div>
      </div>
      
      <!-- copy rigth -->
      <div class="footer-bottom" style="background-color: #000;">
        <div class="container">
          <div class="row text-center text-white">
            <div class="col-12">
              <div class="footer-bottom__copyright" style="color: gray;">
                &copy; Copyright <span id="date"></span> <a href="#">BlueBell</a> | Created by <a href="#" class="glightbox"> Daniel Idoko </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      </footer>
      
    
    <script src="./script.js"></script>
    <script src="./assets/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="./assets/dist/js/glightbox.min.js"></script>

      <script>
        const lightbox = GLightbox({
          'href': 'https://youtu.be/6kVFfqH8D_0',
            'type': 'video',
            'source': 'youtube', //vimeo, youtube or local
            'width': 900,
            'autoPlayVideos': 'true'
        });
      </script>
 
</body>
</html>

